:root { 
--black_900_7f:#0000007f; 
--gray_50_01:#f6fbff; 
--teal_400_87:#2a9dc187; 
--light_green_A700:#63df18; 
--black_900_70:#00000070; 
--blue_500_87:#119bff87; 
--gray_50:#f3f9fd; 
--white_A700_cc:#ffffffcc; 
--teal_500:#069b80; 
--black_900:#000000; 
--light_green_600:#88c12a; 
--blue_gray_900:#2b2b2b; 
--blue_500_7f:#109bff7f; 
--blue_500_b2:#109bffb2; 
--pink_400:#cd3b81; 
--purple_300:#ba58ca; 
--gray_50_7f:#f3f9fe7f; 
--white_A700_4c:#ffffff4c; 
--gray_600:#808080; 
--gray_700:#696969; 
--blue_gray_100:#d9d9d9; 
--blue_500:#109bff; 
--light_green_600_42:#88c12a42; 
--black_900_0c:#0000000c; 
--blue_500_33:#109bff33; 
--white_A700_87:#ffffff87; 
--cyan_300:#55d4cd; 
--black_900_99:#00000099; 
--black_900_33:#00000033; 
--blue_500_19:#109bff19; 
--gray_50_19:#f3f9fe19; 
--black_900_19:#00000019; 
--cyan_900:#174762; 
--white_A700:#ffffff; 
--cyan_400:#1ee0e0; 
}